<style>
    .navbar {
        width: 200px;
        height: 87vh;
        /*    position: fixed;
    left: 0;*/
        /*    top: 80px;*/
        background-color: #4f3100;
        border: solid;
        border-width: 0px 3px 0px 0px;
        border-color: #4d3718;
        /*    overflow-x: hidden;*/
        padding-top: 20px;
    }

        .navbar ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

            .navbar ul li {
                margin-bottom: 20px;
            }

                .navbar ul li a {
                    display: block;
                    text-align: center;
                    padding: 10px;
                    text-decoration: none;
                    font-size: 20px;
                    color: gainsboro;
                    border: solid;
                    border-radius: 5px;
                    border-color: transparent;
                    border-width: 2px;
                }

                    .navbar ul li a:hover {
                        background-color: darkgoldenrod;
                        border-color: #4d3718;
                    }
</style>

<div class="navbar">
    <ul>
        <li><a href="/AdminPanel.html">Categories</a></li>
    </ul>
</div>