<style>

</style>

<div id="AvatarEditor" class="modal">
    <div class="modal-content">
        <input class="fileSelector" type="file" id="uploadImage" accept="image/*">
        <div class="AvatarPreview">
            <img id="AvatarPreview" src="/Images/EmptyAvatar.jpg" alt="Upload an image">
        </div>
        <div style="display:flex; justify-content:space-between; width:100%;">
            <button class="EditorButton" id="Cancel">Cancel</button>
            <button class="EditorButton" style="background-color: transparent; color: #522e0c" id="Rotate">Rotate</button>
            <button class="EditorButton" id="Confirm">Confirm</button>
        </div>
    </div>
</div>